/* ---------- Header ---------- */

:global(#header) {
    position: fixed;
    transition: all 0.4s;
    z-index: 997;
    padding: 20px 0;
    top: 0;
    right: 0;
    left: 0;

    &.headerScrolled, &.headerUnscrollable {
        background: #040c06;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        padding: 12px 0;

        .navBar .collapsedNavBar {
            top: 15px;
        }
    }

    .navBar {
        .collapsedNavBar {
            display: none;
        }

        .navBarList {
            .navBarContent {
                display: flex;
                flex-direction: row;
                gap: 20px;

                a {
                    display: block;
                    position: relative;
                    color: #fff;
                    transition: 0.3s;
                    font-size: 15px;
                    padding: 0 4px;
                    letter-spacing: 0.4px;
                    font-family: "Poppins", sans-serif;
                }

                a:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: -6px;
                    left: 0;
                    background-color: #cbac80;
                    visibility: hidden;
                    transform: scaleX(0);
                    transition: all 0.3s ease-in-out 0s;
                }

                a:hover:before, li:hover > a:before, .active > a:before {
                    visibility: visible;
                    transform: scaleX(1);
                }
            }
        }
    }

    .headerContainer {
        display: flex;
        align-items: center;

        .siteName {
            font-size: 32px;
            margin: 0;
            margin: 0 auto 0 0;
            padding: 0;
            line-height: 1;
            font-weight: 600;
            letter-spacing: 1px;
            text-transform: uppercase;
        
            a {
                color: #fff;
            }
        }
    }

    @media (max-width: 992px) {
        &.headerScrolled, &.headerUnscrollable {
            .navBar .navBarList .navBarContent {
                background-color: #040c06;
            }
        }

        .siteName {
            font-size: 28px;
        }

        .navBar {
            .collapsedNavBar {
                display: block;
                color: #ffffff;
                position: fixed;
                right: 22px;
                top: 22px;
                border: 0;
                background: none;
                transition: all 0.4s;
                outline: none !important;
                line-height: 1;
                cursor: pointer;
                text-align: right;
                height: 24px;
                padding: 0;
                cursor: pointer;
    
                .collapsedNavBarIconContainer {
                    display: inline-block;
                    width: 1.5em;
                    height: 1.5em;
                    vertical-align: middle;
                    content: "";
                    background: no-repeat center center;
                    background-size: 100% 100%;

                    .collapsedNavBarIcon {
                        font-size: 26px;
                    }
                }
            }
    
            .navBarList {
                position: fixed;
                top: 45px;
                right: 0px;
                z-index: 100;
                overflow: hidden;
                max-height: 0px;
                transition: max-height .5s ease-in-out;

                .navBarContent {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    align-items: flex-end;
                    z-index: 100;
                    padding: 10px 20px 15px 15px;
                }
    
                &.expanded {
                    max-height: 200px;
                }
            }
        }
    }
}
