/* ------------- Full Recipe Page ------------- */

.recipe {
    background: rgba(0, 0, 0, 0.6);
    padding: 40px 0 20px 0;

    .entry {
        background-color: #fff;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
        color: #525252;
        margin-bottom: 100px;
        overflow: hidden;

        .entryContent {
            display: flex;
            flex-direction: row;

            .leftColumn {
                min-width: 40%;
            }

            .rightColumn {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px 20px 0 20px;
                min-width: 60%;
            }

            button {
                border: 1px solid #ede9e9;
                color: #8e767a;
                display: inline-block;
                font-size: 14px;
                margin: 0 6px 8px 0;
                outline: none;
                padding: 6px 14px;
                transition: 0.3s;
                cursor: pointer;
            }

            button:hover {
                background: var(--secondary-color);
                border: 1px solid var(--secondary-color);
                color: #fff;
            }

            button:global(.selected) {
                background: var(--secondary-color);
                border: 1px solid var(--secondary-color);
                color: #fff;
            }

            .printButtons {
                width: 100%;
                display: flex;
                justify-content: flex-end;

                button {
                    margin: 0 0 5px 10px;
                    padding: 4px 5px 0px 4px;

                    i {
                        font-size: 20px;
                    }
                }
            }

            .nutritionInfoSection {
                border: 2px solid var(--secondary-color);
                border-radius: 4px;

                padding: 10px;
                margin-bottom: 10px;
            }

            .leftContent {
                display: block;

                .notes {
                    margin: 10px 0 0 10px;
                    padding: 10px;

                    .notesEntry {
                        font-style: italic;
                    }
                }

                .nutritionInfoContainer {
                    margin: 0 0 10px 10px;
                    padding: 0 10px 10px 10px;
                }
            }

            .stackedLeftContent {
                display: none;

                .notes {
                    margin: 0;
                    padding: 0;

                    .notesEntry {
                        margin-left: 22px;
                    }
                }

                .nutritionInfoContainer {
                    margin: 0;
                    padding: 0;

                    .nutritionInfoSection {
                        margin-left: 22px;
                    }
                }
            }

            .nutritionItem {
                display: flex;
                flex-direction: row;
                gap: 5px;

                .nutritionLabel {
                    font-weight: 600;
                }
            }

            h3 {
                font-size: 20px;
                font-weight: bold;
                margin-top: 15px;
            }

            h2 {
                flex-grow: 1;
                margin-bottom: 20px;
            }

            .recipeFooter {
                border-top: 1px solid #e6e6e6;
                bottom: 0;
                margin-top: 30px;
                padding-bottom: 10px;
                padding-top: 10px;
                width: 100%;
            }

            @media (max-width : 768px) {
                flex-direction: column;

                .leftContent {
                    display: none;
                }
    
                .stackedLeftContent {
                    display: block;
                }
            }
        }
    }
}

.summaryContainer {
    padding: 0 20px;
}

/* ---------- Back to Top button ---------- */

:global(.back-to-top) {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    transition: 0.25s;

    &:hover {
        bottom: 20px;
    }

    i {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        width: 40px;
        height: 40px;
        border-style: solid;
        border-color: #cbac80;
        color: #cbac80;
        transition: all 0.25s;
    }
}

/* ---------- Recipe Printing ---------- */

@media print {
    .noPrint {
        display: none;
        visibility: hidden;
    }

    div:not(.printable):not(.printOnly) {
        visibility: hidden;
    }

    .printable {
        visibility: visible;
        color: #000000;
    }

    .printOnly {
        display: block;
        visibility: visible;
        color: #000000;
        font-style: normal;
    }
}

@media not print {
    .printOnly {
        display: none;
    }
}