/* ---------- Recipe Input Page ---------- */
// TODO: fix this up once input page works

.suggestion {
  padding: 100px 0 30px 0;
  min-height: 750px;
  height: calc(100vh - 70px);
}

.recipe-form-container {
  padding: 15px 0 15px 0;
  margin: 0 0 50px 0;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  background-color: #ecd9be;
  color: #525252;
  min-height: 300px;
  max-height: calc(100vh - 250px);
  overflow: auto;
}

.recipe-form-container p {
  margin: 10px 30px 20px 30px;
}

.recipe-form-container .thanks {
  text-align: center;
}

.recipe-form-container .thanks p {
  margin: 50px 30px 50px 30px;
}

.recipe-form input {
  margin-bottom: 10px;
}

.recipe-form textarea {
  width: 100%;
}

.recipe-form textarea[name=steps] {
  width: calc(100% - 100px);
  margin-bottom: 10px;
}

.recipe-form input[type=text] {
  width: calc(100% - 100px);
}

.folder-dropdown {
  margin-bottom: 10px;
}

.recipe-form button {
  display: inline-block;
  color: #fff;
  padding: 5px 20px 5px 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: 0.3s;
  font-size: 14px;
  border: none;
  max-height: 31px;
}

.add-button {
  background: #b18f5f;
}

.add-button:hover {
  background: #d01d3f;
}

.delete-button {
  background: #525252;
}

.delete-button:hover {
  background: #818181;
}

.recipe-form .submit-button {
  background: #085e08;
  margin-left: 0px;
  margin-bottom: 0px;
}

.submit-button:hover {
  background: #237e23;
}

.recipe-form-container .button-group {
  width: 100%;
}

.recipe-form-container a {
  display: inline-block;
  color: #fff;
  padding: 5px 20px 5px 20px;
  margin: 0px 50px 0px 50px;
  transition: 0.3s;
  font-size: 14px;
  border: none;
  background: #b18f5f;
}

.recipe-form-container a:hover {
  background: #cbac80;
}

.home-button {
  float:left;
}

.form-button {
  float:right;
}