.thumbnailDialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    background-color: #ecd9be;
    padding: 20px;
    border-radius: 15px;
    border: 4px solid var(--secondary-color);
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));

    .cropperContainer {
        position: relative;
        height: 400px;
    }

    .dialogContent {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .tempImage {
            width: 100px;
            height: 100px;
        }

        .dialogButtonsContainer {
            display: flex;
            flex-direction: row;
            gap: 10px;

            .editDialogSaveButton {
                height: 30px;
            }

            .editDialogCloseButton {
                height: 30px;
            }
        }
    }
}